.footer {
  background-color: $secondary-color;
  color: $text-color-secondary;
  padding-top: 108px;
  padding-bottom: 46px;
}
.footer__img {
  height: 190px;
  margin-top: 30px;
}
.footer__title {
  margin-top: 26px;
  font-weight: 700;
  font-size: 12px;
  line-height: 23px;
  text-transform: uppercase;
  @include media-breakpoint-up(md) {
    font-size: 16px;
    margin-top: 0;
  }
  @include media-breakpoint-up(xl) {
    font-size: 18px;
  }
}
.footer-all-information__link {
  font-size: 14px;
  color: $text-color;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;
}
.footer-all-information__link:hover {
  color: #ec1f46;
  text-decoration: none;
}
.footer-all-information__link:focus {
  outline: 1px solid #ec1f46;
  color: #ec1f46;
}
.footer-all-information__link:active {
  color: #ada8a8;
  outline: 1px solid #fff;
}
.social-network--wrap {
  margin-top: 24px;
  display: flex;
  align-items: baseline;
}
.mr-42 {
  margin-right: 42px;
}
.footer-icon {
  font-size: 20px;
  color: #bdbdbd;
  margin-right: 12px;
}
.contact-details__txt {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: $text-color;
  margin-bottom: 22px;
}
.contact-details__location {
  font-size: 14px;
  line-height: 22px;
  color: #bdbdbd;
}
.contact-details__location:before {
  font-family: icomoon;
  content: "\e912";
  font-size: 20px;
  color: #bdbdbd;
  margin-right: 18px;
}
.contact-details__phone--wrap {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}
.contact-details__phone {
  color: $text-color;
  font-size: 14px;
  line-height: 22px;
  text-decoration: none;
}
.ml-36 {
  margin-left: 36px;
}
.footer-icon-phone:before {
  font-family: icomoon;
  content: "\e913";
  color: #bdbdbd;
  font-size: 20px;
  margin-right: 12px;
}
.contact-details__email {
  color: $text-color;
  font-size: 14px;
  line-height: 22px;
}
.contact-details__email:before {
  font-family: icomoon;
  content: "\e905";
  font-size: 20px;
  color: #bdbdbd;
  margin-right: 12px;
}
.send-message__form {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  gap: 15px;
}
.user-name__input,
.user-phone__input {
  width: 48%;
  height: 50px;
  font-size: 12px;
  line-height: 15px;
  padding: 18px 22px;
  border-radius: 4px;
  border: none;
}
.send-message__input {
  width: 100%;
  height: 122px;
  font-size: 12px;
  line-height: 15px;
  padding: 18px 22px;
  border-radius: 4px;
  border: none;
}
.footer__btn {
  @include base-buttons-styles(12px);
  padding: 16px 66px;
  margin-top: 8px;
}
.clarification {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #bdbdbd;
  align-self: center;
}
.additional-links {
  display: flex;
  gap: 10px;
}
.footer__additional-link {
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  text-decoration: none;
}
.mb-94 {
  margin-bottom: 94px;
}