@mixin media-breakpoint-up($breakpoint) {
  $current-bp: map-get($breakpoints, $breakpoint);
  @media screen and (min-width: $current-bp) {
    @include make-container-maxwidth($breakpoint);
  }
};
@mixin make-container-maxwidth ($breakpoint) {
  $current-width: map-get($container-widths, $breakpoint);
  .container {
    max-width: $current-width;
  }
};