.tabs-nav {
  padding-top: 30px;
  padding-bottom: 30px;
  @include media-breakpoint-up(lg) {
    padding-top: 68px;
    padding-bottom: 58px;
  }
}
.tabs-nav__list {
  @include media-breakpoint-up(md) {
    display: flex;
    justify-content: space-between;
  }
}
.tabs-nav__item {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.tabs-nav__button {
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: $text-color-main;
  margin-bottom: 10px;
  padding: 15px 0;
  border-bottom: 3px solid transparent;
    &:hover {
      color: $primary-color;
      border-color: $primary-color;
    }
    &:focus {
      outline: 2px solid $primary-color;
      color: $primary-color;
    }
    &:active {
      border-bottom: 3px solid $primary-color;
    }
}
.tabs-nav__button--active {
  border-bottom: 3px solid $primary-color;
}